/* Styling goes in this file */

/*Setting all fonts to Arial*/
body {
	font-family: Arial;

}

/* Any element with the class centered should have centered text */
.centered {
	text-align: center;
}

/* Indents all text on the right column */ 
#marks-and-channels {
	margin: 0px;
	padding-left: 40px;
}

/* Aligns each paragraph in the right column to the image they're describing */
.lower-paragraph {
	padding-top: 200px;
}

/* Creates a flex container to make 2 flex columns with */
.container {
	display: flex;
	flex-direction: row;
	padding-bottom: 295px;
	flex-wrap: wrap;
}

/* Resizes an image so it can fit in a flex column */
.image{
	height:auto;
	width: 100%;
	align-items: center;
}


/* Adds padding above the 2nd visualization */
#vis2{
	padding-top: 1800px;
}

/* Adds padding above the 3rd visualization */
#vis3{
	padding-top: 600px;
}

/* One column made with flexbox css */
.flex-left {
	width: 50%;
	flex-wrap: flex;
	flex-shrink:3;
	flex-direction: column;
	justify-content: space-between;
}

/* An adjacent column made with flexbox css */
.flex-right {
	flex-direction: column;
	width: 50%;
	font-size: 1vw;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-between;

}

/* Adjusts font size of header */
#header{
	font-size: 3vw;
}

/* Sets font size of Acknowledgements section */
#acknowledgements{
	font-size:1.5vw;
}

/* Sets font size of the resources used */
#d3{
	font-size:1.0vw;
}

/* Formats and styles the button */
.button{
	height:300px;
 	width:300px;
	font-size: 1.2vw;
	background-color:red;
	border-radius:50%;
	border:orange;
	transform: translate(25%, -50%);
	-ms-transform: translate(25%, -50%);
	color: black;
	cursor: pointer;
	text-align: center;

}

/* Updates button when hovered over */
.button:hover {
	background-color:#4CAF50;
	border: yellow;
}

/* Adjusts button further*/
#button-div{
	padding-top: 150px;
	font-size: 2vw;
	right: 200;
}



